numpy>=1.26.0
opencv-python==4.11.0.86
pillow==11.1.0
protobuf==5.29.4
psutil==7.0.0
pyarrow==19.0.1
pydeck==0.9.1
pytz==2025.1
python-dateutil==2.9.0.post0
prompt_toolkit==3.0.50
platformdirs==4.3.6
pipreqs==0.5.0
pickleshare==0.7.5
parso==0.8.4
pandocfilters==1.5.1

